<div class="dialog-modal flex-main-center flex-column rule-modal-wrap">
    <div class="rule-modal">
        <div class="rule-title flex-main-center">
            <span>抽奖活动规则</span>
        </div>
        <div class="rule-body">
            <div class="rule-content content-padding">
                <p>每天2000元奖金池为大家派发新年礼物，每天有小奖品，每周有2-3份大奖品，中奖率实时公开</p>
                <p>每日每个亲友圈可开启其中一个奖品的抽取当然也可以累计更多的活跃度憋大招抽取每周的大奖</p>
                <p>中奖率是按照当前的参与亲友圈数量实时统计的数据</p>
                <p>每天8点系统开奖,中奖率和当前的活跃度有关系，也并不代表活跃度低就不能中奖，只是几率略低。</p>
                <p>每1000点亲友圈活跃可换取1张奖票，奖票越多中奖几率越高</p>
                <p>抽取的奖品开启， 由每个亲友圈商议后由圈主负责开启,奖品抽中以后，将在次日成员再次进行参与抽奖角逐奖品归属。</p>
                <p>参与方式:每日亲友圈活动页面签到即可，玩家签到能获得活跃度，活跃度越高您中奖的几率就会越高哟！</p>
                <p>赶紧来参与吧！</p>
            </div>
        </div>
    </div>
    <div class="width-full flex-main-center top-20">
        <a><i class="icon icon-close-white"></i></a>
    </div>
</div>
