<div class="dialog-modal flex-main-center flex-column rule-modal-wrap">
    <div class="rule-modal">
        <div class="rule-title flex-main-center">
            <span>抽奖活动规则</span>
        </div>
        <div class="rule-body">
            <div class="rule-content content-padding">
                <p>每2天开奖一次(节假日另行安排)，每个亲友圈可开启其中一个奖品抽取，当然也可以累计更多的活跃度抽取每周和每月的大奖</p>
                <p>抽奖分两轮进行，第一轮是亲友圈中奖，第二轮是亲友圈成员再次进行抽奖。</p>
                <p>22:00点系统亲友圈开奖，次日20:00成员开奖</p>
                <p>参与方式:每日亲友圈活动页面签到即可，玩家签到能获得活跃度，活跃度越高您中奖的几率就会越高哟！</p>
                <p>赶紧来参与吧！</p>
            </div>
        </div>
    </div>
    <div class="width-full flex-main-center top-20">
        <a><i class="icon icon-close-white"></i></a>
    </div>
</div>
