<!DOCTYPE html>
<html lang="<%= this.lang %>">
<head>
    <title><%=this.endActive %></title>
    <%- include('template/head.html') %>
    <style type="text/css">

    </style>
</head>
<body>
<div class="content bg-dark-blue">
    <div class="active-wrap flex-main-center top-20">
        <div class="my-active mf-active flex-main-center right-18">
            <img src="assert/9.png" alt="">
            <span class="fs-28 color-white">我的活跃度：1300</span>
        </div>
        <div class="family-active mf-active flex-main-center">
            <img src="assert/6.png" alt="">
            <span class="fs-28 color-white">圈子活跃度：2300</span>
        </div>
    </div>
    <div class="bg-light-blue main">
        <div class="title-wrap">
            <span class="gold-title fs-28 color-brown txt-bold">已开奖</span>
        </div>
        <div class="goods-item row">
            <div class="col-6 height-full flex-main-center">
                <img class="col-18" src="assert/16.png" alt="">
            </div>
            <div class="col-11 height-full lh-1_5 flex-align-center flex-wrap word-wrap">
                <span class="fs-30 color-blue col-24">蓝月亮洗衣液5L*6瓶</span>
                <span class="fs-24 color-97 col-24">夺得大奖，可喜可贺！</span>
            </div>
            <div class="col-7 height-full flex-main-center">
                <img style="width: 1.4rem" src="assert/3.png" alt="">
            </div>
        </div>
        <span class="fs-28 color-white">参与详情</span>
        <div class="fr-help lh-2_">
            <div class="height-full fs-26 color-blue">
                <span class="block">李文凯是的</span>
                <span class="block">肖洁洁</span>
                <span class="block">哈挂</span>
            </div>
            <div class="height-full fs-26 color-dark-red">
                <span class="block">已参与</span>
                <span class="block">已参与</span>
                <span class="block">已参与</span>
            </div>
            <div class="height-full fs-26 color-light-gray">
                <span class="block">奖票1张</span>
                <span class="block">奖票8张</span>
                <span class="block">奖票2张</span>
            </div>
        </div>
    </div>
    <div class="row width-full flex-main-center flex-wrap">
        <a class="btn btn-fill btn-mid-height col-16 btn-round fs-32" style="background: #9f9f9f">已开奖</a>
        <div class="width-full flex-main-center" style="margin-top: .44rem">
            <div class="flag-bg flex-main-center flex-wrap fs-28" style="color:#f7fadd; align-content: center">
                <p>恭喜“你好想法”获得奖品！</p>
                <p>请圈主联系雀神会客服安排领取奖品！</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
