<!DOCTYPE html>
<html lang="<%= this.lang %>">
<head>
    <title><%=this.friendHelp %></title>
    <%- include('template/head.html') %>
    <style type="text/css">

    </style>
</head>
<body>
<!--追加奖票-->
<div class="dialog-modal dialog-append">
    <div class="box-dialog">
        <div class="box-header bg-blue color-white flex-main-center">
            <div class="flex-align-center flex-wrap">
                <span class="width-full txt-center">您的亲友圈当前累计</span>
                <span class="width-full txt-center">活跃度：2300</span>
            </div>
        </div>
        <div class="box-body overflow-hide">
            <p class="txt-center lh-1" style="margin:.55rem 0">追加奖票：1张奖票<span class="fs-30">(2000活跃度)</span></p>
            <div class="width-full row flex-main-center">
                <a class="box-dialog-btn col-20 inline color-white">追加奖票</a>
            </div>
        </div>
    </div>
</div>
<%- include('template/ruleModal.html') %>
<div class="content bg-dark-blue">
    <div class="width-full">
        <img class="width-full" src="assert/active-banner-1.png" alt="">
    </div>
    <div class="width-full flex-main-end">
        <div class="rule-wrap flex-main-center">
            <i class="icon icon-problem"></i>
            <span class="fs-24 color-white">&nbsp;活动规则</span>
        </div>
    </div>
    <div class="bg-light-blue main">
        <div class="title-wrap">
            <span class="gold-title fs-28 color-brown txt-bold">今日可抽奖品</span>
        </div>
        <div class="goods-item row">
            <div class="col-6 height-full flex-main-center">
                <img class="col-18" src="assert/16.png" alt="">
            </div>
            <div class="col-11 height-full lh-1_5 flex-align-center flex-wrap word-wrap">
                <span class="fs-30 color-blue col-24">蓝月亮洗衣液5L*6瓶</span>
                <span class="fs-24 color-97 col-24">已投入：1张奖票</span>
                <span class="fs-24 color-97 col-24">好友助力：1.9张奖票</span>
            </div>
            <div class="col-7 height-full flex-align-center flex-wrap item-append">
                <a class="btn-orange color-brown fs-26 btn-append">追加奖票</a>
                <span class="color-light-gray fs-20 lh-2_ ">今日20:00开奖</span>
            </div>
        </div>
        <span class="fs-28 color-white">好友助力</span>
        <div class="fr-help lh-2_">
            <div class="height-full fs-26 color-blue">
                <span class="block">李文凯是的</span>
                <span class="block">肖洁洁</span>
                <span class="block">哈挂</span>
            </div>
            <div class="height-full fs-26 color-dark-red">
                <span class="block">已邀请1人助力</span>
                <span class="block">已邀请2人助力</span>
                <span class="block">已邀请3人助力</span>
            </div>
            <div class="height-full fs-26 color-light-gray">
                <span class="block">活跃度+300</span>
                <span class="block">活跃度+200</span>
                <span class="block">活跃度+100</span>
            </div>
        </div>
        <div class="row width-full flex-main-center" style="margin-top: .5rem">
            <a class="btn btn-fill btn-mid-height col-16 btn-round fs-32" style="background: #fc7436">邀请好友助力</a>
        </div>
    </div>
    <div class="active-wrap flex-main-center top-20" style="margin-bottom: .5rem">
        <div class="my-active mf-active flex-main-center right-18">
            <img src="assert/9.png" alt="">
            <span class="fs-28 color-white">我的活跃度：1300</span>
        </div>
        <div class="family-active mf-active flex-main-center">
            <img src="assert/6.png" alt="">
            <span class="fs-28 color-white">圈子活跃度：2300</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var $dialog = $('.dialog-append'),
            $startBtn = $('.btn-append'),
            $dialogContailner = $('.box-dialog');
        $startBtn.click(function () {
            $dialog.addClass('visible');
        });
        $dialogContailner.click(function () {
            return false;   //阻止事件冒泡
        })
    })
</script>
</body>
</html>
