<!DOCTYPE html>
<html lang="<%= this.lang %>">
<head>
    <title><%=this.index %></title>
    <%- include('template/head.html') %>
</head>
<body>
<!--开启抽奖弹框-->
<div class="dialog-modal dialog-start">
    <div class="box-dialog">
        <div class="box-header bg-blue color-white flex-main-center">
            <div class="flex-align-center flex-wrap">
                <span class="width-full txt-center">您的亲友圈当前累计</span>
                <span class="width-full txt-center">活跃度：2300</span>
            </div>
        </div>
        <div class="box-body overflow-hide">
            <p class="txt-center lh-1" style="margin:.55rem 0">将为你兑换：1张奖票<span class="fs-30">(1000活跃度)</span></p>
            <div class="width-full row flex-main-center">
                <a class="box-dialog-btn col-20 inline color-white">开启抽奖</a>
            </div>
        </div>
    </div>
</div>
<%- include('template/ruleModal.html') %>
<div class="content bg-dark-blue">
    <div class="width-full">
        <img class="width-full" src="assert/banner-qsdb.png" alt="">
    </div>
    <div class="width-full flex-main-end">
        <div class="rule-wrap flex-main-center">
            <i class="icon icon-problem"></i>
            <span class="fs-24 color-white">&nbsp;活动规则</span>
        </div>
    </div>
    <div class="bg-light-blue main" style="margin-bottom: .4rem">
        <div class="title-wrap">
            <span class="gold-title fs-28 color-brown txt-bold">活动奖品详情</span>
        </div>
        <a class="g-item row flex-main-start flex-wrap">
            <div class="flex-main-between width-full down-line">
                <img class="col-6" src="assert/16.png" alt="">
                <div class="col-12 flex-main-center flex-column flex-item-align-stretch">
                    <h3 class="fs-28 color-blue width-full white-nowrap">福临门葵花籽食用油5L</h3>
                    <span class="color-orange fs-24 width-full">总参与59</span>
                    <span class="color-orange fs-24 width-full">消耗活跃度：200</span>
                </div>
                <div class="flex-item-align-stretch flex-cross-end">
                    <div class="bg-prize-img down-10"></div>
                </div>
            </div>
            <div class="width-full flex-main-between fs-24 color-97 top-20 lh-1">
                <span>恭喜亲友圈xxx中奖！</span>
                <span>成员开奖时间 1-25 20:00</span>
            </div>
        </a>
        <a class="g-item row flex-main-start flex-wrap">
            <div class="flex-main-between width-full down-line">
                <img class="col-6" src="assert/16.png" alt="">
                <div class="col-12 flex-main-center flex-column flex-item-align-stretch">
                    <h3 class="fs-28 color-blue width-full white-nowrap">福临门葵花籽食用油5L</h3>
                    <span class="color-orange fs-24 width-full">总参与59</span>
                    <span class="color-orange fs-24 width-full">消耗活跃度：200</span>
                </div>
                <div class="flex-item-align-stretch flex-cross-end">
                    <div class="bg-btn-orange down-10 fs-30 color-white flex-main-center">等待开奖</div>
                </div>
            </div>
            <div class="width-full flex-main-between fs-24 color-97 top-20 lh-1">
                <span>等待开奖</span>
                <span>开奖时间 1-25 20:00</span>
            </div>
        </a>
        <a class="g-item row flex-main-start flex-wrap">
            <div class="flex-main-between width-full down-line">
                <img class="col-6" src="assert/16.png" alt="">
                <div class="col-12 flex-main-center flex-column flex-item-align-stretch">
                    <h3 class="fs-28 color-blue width-full white-nowrap">福临门葵花籽食用油5L</h3>
                    <span class="color-orange fs-24 width-full">总参与59</span>
                    <span class="color-orange fs-24 width-full">消耗活跃度：200</span>
                </div>
                <div class="flex-item-align-stretch flex-cross-end">
                    <div class="bg-btn-red down-10 fs-30 color-white flex-main-center">参与抽奖</div>
                </div>
            </div>
            <div class="width-full flex-main-between fs-24 color-97 top-20 lh-1">
                <span></span>
                <span>开奖时间 1-25 20:00</span>
            </div>
        </a>
        <a class="g-item row flex-main-start flex-wrap">
            <div class="flex-main-between width-full down-line">
                <img class="col-6" src="assert/16.png" alt="">
                <div class="col-12 flex-main-center flex-column flex-item-align-stretch">
                    <h3 class="fs-28 color-blue width-full white-nowrap">福临门葵花籽食用油5L</h3>
                    <span class="color-orange fs-24 width-full">总参与59</span>
                    <span class="color-orange fs-24 width-full">消耗活跃度：200</span>
                </div>
                <div class="flex-item-align-stretch flex-cross-end">
                    <div class="bg-btn-gray down-10 fs-30 color-white flex-main-center">未中奖</div>
                </div>
            </div>
            <div class="width-full flex-main-between fs-24 color-97 top-20 lh-1">
                <span>您未中奖/未参与此轮抽奖</span>
                <span>开奖时间 1-25 20:00</span>
            </div>
        </a>
        <a class="g-item row flex-main-start flex-wrap">
            <div class="flex-main-between width-full down-line">
                <img class="col-6" src="assert/16.png" alt="">
                <div class="col-12 flex-main-center flex-column flex-item-align-stretch">
                    <h3 class="fs-28 color-blue width-full white-nowrap">福临门葵花籽食用油5L</h3>
                    <span class="color-orange fs-24 width-full">总参与59</span>
                    <span class="color-orange fs-24 width-full">消耗活跃度：200</span>
                </div>
                <div class="flex-item-align-stretch flex-cross-end">
                    <div class="bg-btn-blue down-10 fs-30 color-white flex-main-center">即将开始</div>
                </div>
            </div>
            <div class="width-full flex-main-between fs-24 color-97 top-20 lh-1">
                <span></span>
                <span>开奖时间 1-25 20:00</span>
            </div>
        </a>
    </div>
    <div class="active-wrap flex-main-center top-20" style="margin-bottom: .5rem">
        <div class="my-active mf-active flex-main-center right-18">
            <img src="assert/9.png" alt="">
            <span class="fs-28 color-white">我的活跃度：1300</span>
        </div>
        <div class="family-active mf-active flex-main-center">
            <img src="assert/6.png" alt="">
            <span class="fs-28 color-white">圈子活跃度：2300</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var $dialog = $('.dialog-start'),
            $startBtn = $('.main').children('.goods-item').find('.goods-btn'),
            $dialogContailner = $('.box-dialog');
        $startBtn.click(function () {
            var isDisable = $(this).hasClass('disable');
            if(!isDisable)
            {
                // 未禁用按钮点击显示弹框
                $dialog.addClass('visible');
            }
        });
        $dialogContailner.click(function () {
            return false;   //阻止事件冒泡
        });
    })
</script>
</body>
</html>
