<!DOCTYPE html>
<html lang="<%= this.lang %>">
<head>
    <title><%=this.joinGold %></title>
    <%- include('template/head.html') %>
    <style type="text/css">

    </style>
</head>
<body>
<div class="content ih">
    <img class="ih-topic" src="assert/ih-topic.png" alt="">
    <div class="ih-time color-gold fs-20">今日20:00系统开奖</div>
    <div class="ih-prize-top flex-main-between row">
        <div class="flex-main-center flex-wrap col-8">
            <img style="width:1.3rem;" src="assert/logo.png" alt="">
            <p class="width-full fs-20 txt-center">肖洁洁</p>
        </div>
        <div class="flex-align-center flex-wrap col-16 fs-28 color-brown txt-bold lh-1">
            <p class="width-full">我正在参与“雀神会”每日抽奖</p>
            <hr size="1" class="dash-line">
            <p>请您帮我点击一下助力！</p>
        </div>
        <div class="ih-prize-ca"></div>
    </div>
    <div class="ih-prize-down">
        <div class="flex-main-center flex-wrap" style="width: 3.62rem">
            <img style="width:2.7rem;" src="assert/ih-prize-lanyueliang.png" alt="">
            <div class="product-name txt-center fs-20 color-white">蓝月亮洗衣液5L*6瓶</div>
        </div>
    </div>
    <div class="ih-code-border flex-main-between row">
        <div class="ih-code txt-center fs-28">二维码区域</div>
        <div class="ih-pointer-tip flex-main-between">
            <img style="width: .56rem;" src="assert/ih-code-pointer.png" alt="">
            <span class="fs-24">&nbsp;识别二维码帮我点击助力</span>
        </div>
    </div>
</div>
</body>
</html>
