@import "sass/variables";
@import "sass/mixins";
@import "sass/base";
@import "sass/common";
@import "sass/grid";
@import "sass/flex";
@import "sass/text";
@import "sass/button";
@import "sass/bars";
@import "sass/icons";
@import "sass/card";
@import "sass/datetimepick";
@import "sass/dialog";
@import "sass/toast";
@import "sass/loading";

.bg-dark-blue{
  background: #44599c;
}
.bg-light-blue{
  background: #768ff3;
}
.bg-blue{
  background: #6298f2;
}
.color-dark-red{
  color: #c04826;
}
.color-gold{
  color: #f5ee47;
}
.color-brown{
  color:#783d11;
}
.color-blue{
  color: #6199f0;
}
.color-97{
  color: #979797;
}
.color-light-gray{
  color: #b1b1b1;
}
.bg-97{
  color: #979797;
}
.top-20{
  margin-top: .2rem;
}
.flex-main-end{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  align-content: center;
}
.bg-btn-blue{
  width: 1.5rem;
  height: .68rem;
  background: url("assert/btn-blue-bg.png")no-repeat center;
  background-size: 100% 100%;
};
.bg-btn-gray{
  width: 1.5rem;
  height: .68rem;
  background: url("assert/btn-gray-bg.png")no-repeat center;
  background-size: 100% 100%;
};
.bg-btn-red{
  width: 1.5rem;
  height: .68rem;
  background: url("assert/btn-red-bg.png")no-repeat center;
  background-size: 100% 100%;
};
.bg-btn-orange{
  width: 1.5rem;
  height: .68rem;
  background: url("assert/btn-orange-bg.png")no-repeat center;
  background-size: 100% 100%;
};
.down-line{
  position: relative;
  @include thinLine(down,#e7e7e7)
}
.white-nowrap{
  white-space: nowrap;
}
.color-orange{
  color: #ff9630;
}
.down-10{
  margin-bottom: .1rem;
}
.bg-prize-img{
  width: 1.4rem;
  height: .92rem;
  background: url("assert/prize-img.png")no-repeat center;
  background-size: 100% 100%;
}
.icon-close-white{
  width: .54rem;
  height: .54rem;
  background: url("assert/icon-close.png")no-repeat center;
  background-size: 100% 100%;
}
.icon-problem{
  width: .26rem;
  height: .26rem;
  background: url("assert/icon-problem.png")no-repeat center;
  background-size: 100% 100%;
}
.rule-wrap{
  padding: .12rem .15rem;
  border-radius: .3rem 0 0 .3rem;
  background: #768ff3;
  margin: .3rem 0 -.3rem;
}
.rule-modal{
  min-height: 6.64rem;
  width: 80%;
  background: white;
  border-radius: .1rem;
  .rule-title{
    height: .8rem;
    background: #6298f2;
    font-size: .28rem;
    color: white;
    line-height: .8rem;
    border-radius: .1rem .1rem 0 0;
  }
  .rule-body{
    font-size: .22rem;
    color: #606060;
    line-height: 2;
    border-radius:0 0 .1rem .1rem;
    padding: .25rem 0;
    .rule-content{
      height: 6rem;
      overflow: hidden;
      overflow-y: auto;
    }
    p{
      text-indent: .25rem;
    }
  }
}
.active-wrap{
  .mf-active{
    padding: .2rem;
    height: .78rem;
    img{
      width: .45rem;
      margin-right: .1rem;
    }
  }
  .my-active{
    background: url("assert/8.png")no-repeat center;
    background-size: 100% 100%;
  }
  .family-active{
    background: url("assert/7.png")no-repeat center;
    background-size: 100% 100%;
  }
  .right-18{
    margin-right: .20rem;
  }
}
.main{
  padding: .34rem .25rem;
  position: relative;
  margin: .68rem .34rem;
  border-radius: .15rem;
  .title-wrap{
    width: 3.14rem;
    height: .56rem;
    background: url("assert/1.png")no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -.35rem;
    margin: 0 auto;
    .gold-title{
      width: 100%;
      height: .48rem;
      line-height: .48rem;
      text-align: center;
      display: block;
      margin: auto auto;
    }
  }
  .g-item{
    background: #fff;
    border-radius: .15rem;
    width: 100%;
    padding: .18rem;
    margin-bottom: .2rem;
  }
  .goods-item{
    background: white;
    border-radius: .15rem;
    height: 1.64rem;
    width: 100%;
    margin-bottom: .2rem;
    &:last-child{
      margin: 0;
    }
    .item-append{
      align-content: center;
      justify-content: center;
    }
    .btn-orange{
      padding: .1rem .15rem;
      display: block;
      background: #fee435;
      border-radius: .1rem;
      &:active{
        color: #783d11;
      }
    }
    .word-wrap{
      align-content: center;
    }
    .goods-btn{
      border-radius: .25rem;
      font-size: .24rem;
      height: .48rem;
      line-height: .48rem;
      background: #6298f2;
      &.disable{
        background: #979797!important;
      }
    }
  }
  .fr-help {
    background: white;
    border-radius: .15rem;
    width: 100%;
    display: flex;
    padding: .15rem 0;
    justify-content: space-around;
  }
}
.box-dialog{
  width: 6.4rem;
  .box-header{
    height: 1.65rem;
    border-radius: .15rem .15rem 0 0;
  }
  .box-body{
    min-height: 2.68rem;
    background: white;
    border-radius:0 0 .15rem .15rem;
    .box-dialog-btn{
      border-radius: .3rem;
      height: .82rem;
      line-height: .82rem;
      width: 4.74rem;
      background: url("assert/2.png")no-repeat center;
      background-size: 100% 100%;
      text-align: center;
    }
  }
}
.box-family{
  width: 4.92rem;
  .head{
    height: 1.6rem;
    width: 100%;
    background: url("assert/10.png")no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: .2rem;
    .head-title{
      margin-bottom: .3rem;
    }
  }
  .body{
    width: 3.94rem;
    height: 1.4rem;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0 0 .15rem .15rem;
  }
}
.flag-bg{
  width:5.1rem;
  height: 1.52rem;
  background: url("assert/4.png")no-repeat center;
  background-size: 100% 100%;
}

.ih{
  min-height: 15rem;
  background: url("assert/ih-bg.jpg")no-repeat center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  .ih-topic{
    width: 5.06rem;
    margin: .3rem 0 .05rem;
  }
  .ih-time{
    width: 4.78rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background: url("assert/ih-time-bg.png")no-repeat center;
    background-size: 100% 100%;
    margin-bottom: .15rem;
  }
  .ih-prize-top{
    padding: .15rem;
    width: 5.96rem;
    height: 1.92rem;
    background: url("assert/ih-prize-up.png")no-repeat center;
    background-size: 100% 100%;
    flex: none;
    position: relative;
    overflow: visible;
  }
  .dash-line{
    width: 100%;
    margin-right: .2rem;
    border-style: dashed;
    border-color: #9f9f9f;
  }
  .ih-prize-ca{
    width: 1.64rem;
    height: 1.2rem;
    background: url("assert/ih-prize-calender.png")no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    z-index: 2;
    right: 2%;
    bottom: -35%;
  }
  .ih-prize-down{
    width: 6.64rem;
    height: 3.96rem;
    margin-top: -.15rem;
    background: url("assert/ih-prize-down.png")no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .4rem;
    .product-name{
      width: 3.62rem;
      height: .44rem;
      background: url("assert/ih-prize-title.png")no-repeat center;
      background-size: 100% 100%;
      line-height: .4rem;
    }
  }
  .ih-code-border{
    width: 6.12rem;
    height: 3.12rem;
    background: url("assert/ih-code-border.png")no-repeat center;
    background-size: 100% 100%;
    margin-top: .1rem;
    padding: .5rem;
    .ih-code{
      width: 1.84rem;
      height: 1.84rem;
      padding: .1rem;
      background: white;
    }
    .ih-pointer-tip{

    }
  }
  .assistance-btn{
    width: 5.04rem;
    height: 1.10rem;
    background: url("assert/ih-help.png")no-repeat center;
    background-size: 100% 100%;
    margin: .2rem 0 .1rem;
    transition: all 1s;
    &.success{
      background: url("assert/ih-help-success.png")no-repeat center;
      background-size: 100% 100%;
    }
  }
  .ih-download-border{
    width: 6.26rem;
    height: 2.64rem;
    padding: .3rem;
    background: url("assert/ih-download-border.png")no-repeat center;
    background-size: 100% 100%;
    .dash-line{
      margin-left: .1rem;
    }
  }
  .download-tip{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .ih-tip{
    width: 5.48rem;
    height: .58rem;
  }
}
.ih-tip-wrap{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  &.visible{
    visibility: visible;
    opacity:1;
  }
}
@media screen and(min-height: 700px){
  .ih{
    min-height: 17rem;
  }
}
